@model Entities.Arquivo

@{
    ViewBag.Title = "Análise do PDV";
    List<Entities.Arquivo> lstArquivos = ViewBag.ListaArquivo;
    string msg = ViewBag.Mensagem;
}
@if (msg != null)
{
    <br />
    <br />
    <br />
    <h4 class="text-center">@msg</h4>
    <hr />
    <form action="/pdvplus/sequencial/index" method="get">
        <button class="btn btn-primary">
            Retornar
        </button>
    </form>
    <br />
    <br />
    <br />
}
else
{

    <br />
    <h2 class="text-center">Detalhes do PDV</h2>
    <br />
    <h5 class="text-center">
        Número de Arquivos : @lstArquivos.Count() &nbsp;&nbsp;&nbsp;&nbsp;
        Sequencial Inicial: @lstArquivos.OrderBy(x => x.Data).FirstOrDefault().Sequencial &nbsp;&nbsp;&nbsp;&nbsp;
        Sequencial Final: @lstArquivos.OrderByDescending(x => x.Data).FirstOrDefault().Sequencial
    </h5>
    <br />
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Estação</th>
                <th scope="col">Número Pdv</th>
                <th scope="col">Data</th>
                <th scope="col">Sequencial</th>
                <th scope="col">pulo/formatação</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < lstArquivos.Count(); i++)
            {
                if (i == lstArquivos.Count() - 1)
                {
                    <tr class="text-center">
                        <td>@lstArquivos[i].Estacao</td>
                        <td>@lstArquivos[i].Numero</td>
                        <td>@lstArquivos[i].Data</td>
                        <td>@lstArquivos[i].Sequencial</td>
                        <td>--</td>
                        <td>@lstArquivos[i].Status</td>
                    </tr>
                }

                else
                {
                    string formatado = "formatado";
                    int pulo = lstArquivos[i + 1].Sequencial - lstArquivos[i].Sequencial - 1;
                    if (pulo == -1)
                    {
                        <tr class="alert-warning">
                            <td class="text-center" style="color: black">@lstArquivos[i].Estacao</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Numero</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Data</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Sequencial</td>
                            <td class="text-center" style="color: black">Duplicata</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Status</td>
                        </tr>
                    }

                    else if (pulo < 0)
                    {
                        <tr class="alert-light">
                            <td class="text-center" style="color: black">@lstArquivos[i].Estacao</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Numero</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Data</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Sequencial</td>
                            <td class="text-center" style="color: black">@formatado</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Status</td>
                        </tr>
                    }

                    else if (pulo > 0)
                    {
                        <tr class="alert-danger">
                            <td class="text-center" style="color: black">@lstArquivos[i].Estacao</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Numero</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Data</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Sequencial</td>
                            <td class="text-center" style="color: black">@pulo</td>
                            <td class="text-center" style="color: black">@lstArquivos[i].Status</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" >@lstArquivos[i].Estacao</td>
                            <td class="text-center" >@lstArquivos[i].Numero</td>
                            <td class="text-center" >@lstArquivos[i].Data</td>
                            <td class="text-center" >@lstArquivos[i].Sequencial</td>
                            <td class="text-center" >--</td>
                            <td class="text-center" >@lstArquivos[i].Status</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
