@{
    ViewBag.Title = "Detalhes";
    List<Entities.Arquivo> lstArquivos = ViewBag.ListaArquivo;
    string msg = ViewBag.Mensagem;
}
@if (msg != null)
{
    <br />
    <br />
    <br />
    <h4 class="text-center">@msg</h4>
    <hr />
    <form action="/pdvplus/sequencial/index" method="get">
        <button class="btn btn-primary">
            Retornar
        </button>
    </form>
    <br />
    <br />
    <br />
}
else
{

    <br />
    <h2 class="text-center">Detalhes do PDV</h2>
    <br />
    <h5 class="text-center">
        Número de Arquivos : @lstArquivos.Count() &nbsp;&nbsp;&nbsp;&nbsp;
        Sequencial Inicial: @lstArquivos.OrderBy(x => x.Data).FirstOrDefault().Sequencial &nbsp;&nbsp;&nbsp;&nbsp;
        Sequencial Final: @lstArquivos.OrderByDescending(x => x.Data).FirstOrDefault().Sequencial
    </h5>
    <br />
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Estação</th>
                <th scope="col">Número Pdv</th>
                <th scope="col">Sequencial</th>
                <th scope="col">Pulos</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < lstArquivos.Count(); i++)
            {
                if (i == lstArquivos.Count() - 1)
                {
                    <tr>
                        <th scope="row">@lstArquivos[i].Codigo</th>
                        <td>@lstArquivos[i].Estacao</td>
                        <td>@lstArquivos[i].Numero</td>
                        <td>@lstArquivos[i].Sequencial</td>
                        <td>0</td>
                        <td>@lstArquivos[i].Status</td>
                    </tr>
                }

                else
                {
                    if (lstArquivos[i].Sequencial == lstArquivos[i + 1].Sequencial - 1)
                    {
                        <tr>
                            <th scope="row">@lstArquivos[i].Codigo</th>
                            <td>@lstArquivos[i].Estacao</td>
                            <td>@lstArquivos[i].Numero</td>
                            <td>@lstArquivos[i].Sequencial</td>
                            <td>0</td>
                            <td>@lstArquivos[i].Status</td>
                        </tr>
                    }

                    else
                    {
                        string formatado = "formatado";
                        int pulo = lstArquivos[i + 1].Sequencial - lstArquivos[i].Sequencial - 1;
                        if (pulo < 0)
                        {
                            <tr class="alert-light">
                                <th scope="row">@lstArquivos[i].Codigo</th>
                                <td>@lstArquivos[i].Estacao</td>
                                <td>@lstArquivos[i].Numero</td>
                                <td>@lstArquivos[i].Sequencial</td>
                                <td style="color: black"><b>@formatado</b></td>
                                <td>@lstArquivos[i].Status</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="alert-danger">
                                <th scope="row">@lstArquivos[i].Codigo</th>
                                <td>@lstArquivos[i].Estacao</td>
                                <td>@lstArquivos[i].Numero</td>
                                <td>@lstArquivos[i].Sequencial</td>
                                <td style="color: black"><b>@pulo</b></td>
                                <td>@lstArquivos[i].Status</td>
                            </tr>
                        }

                    }
                }
            }
        </tbody>
    </table>
}
