@{
    ViewBag.Title = "Verificação Sequencial";
    //List<Entities.Arquivo> lstArquivos = ViewBag.ListaArquivo;
    List<string> lstEstacao = ViewBag.ListaEstacao;
    //List<string> lstnumero = ViewBag.ListaNumero;
    List<Entities.Pdv> lstpdv = ViewBag.ListaPdv;
}
<br />
<h3 class="text-center">
    Verificação de Sequencial
</h3>
<hr>
<br />
<div style="margin-left: 5%;">
    <form action="/pdvplus/sequencial/index" method="get">
        <div class="row g-2 align-items-center">
            <div class="col-2">
                <select id="estacao" name="estacao" class="form-control" required>
                    <option value=null>Selecione a Estação</option>
                    @foreach (string estacao in lstEstacao)
                    {
                        <option value="@estacao">@estacao</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select id="numero" name="numero" class="form-control" required>
                    <option value=null>Número</option>
                </select>
            </div>
            <div class="col-3">
                <input class="form-control" name="dataInicio" type="date" required />
            </div>
            <div class="col-3">
                <input class="form-control" name="dataFim" type="date" required />
            </div>
            <div class="col-1">
                <button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>
<br />
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Estação</th>
            <th scope="col">Número Pdv</th>
            <th scope="col">Código</th>
            <th scope="col">Status</th>
            <th scope="col">Visualizar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pdv in lstpdv)
        {
            <tr>
                <td>@pdv.Estacao</td>
                <td>@pdv.Numero</td>
                <td>@pdv.Codigo</td>
                <td>@pdv.Status</td>
                <td>
                    <a class="btn btn-sm" href="/pdvplus/sequencial/analisar?codigo=@pdv.Codigo" style="color: #2a7aaf; font-size: medium;">
                        <i>
                            <u>Detalhes</u>
                        </i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    //$("#estacao").on("change", function () {
    //    var dado = $(this).val();
    //    $.post('/pdvplus/sequencial/index'), { estacao: dado }, function (data) {
    //        var teste = data;
    //    }
    //});

    $("#estacao").on("change", function () {
        var request = $.ajax({
            url: "/pdvplus/sequencial/index",
            type: "POST",
            data: { estacao: $('#estacao :checked').val() },
            dataType: "html"
        });

        request.done(function (data) {
            var data = JSON.parse(data);
            $('#numero').find('option:not(:first)').remove();

            for (var i = 0; i < data.length; i++) {
                var select = document.getElementById("numero");
                select.options[select.options.length] = new Option(data[i], data[i]);
            }

        });
    });

</script>